.name{
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight:600;
}

.status{
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin-top:2px;
    float: right;
    font-size: 12px;
    color: #74C69D;
    margin-right: 20px;
    font-weight:700;
}

.status2{
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin-top:2px;
    float: right;
    font-size: 12px;
    color: #c67474;
    margin-right: 20px;
    font-weight:700;
}

.more{
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight:600;
}

.content{
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #718096;
    font-size: 8px;
}
/*#718096*/